apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: docuflow-auth:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: docuflow-config
                  key: postgres-host
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: docuflow-config
                  key: postgres-user
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: docuflow-secrets
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: docuflow-config
                  key: postgres-db
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: docuflow-secrets
                  key: JWT_SECRET_KEY

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000