apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: docuflow-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          # These are tricky in K8s. For now, we point to localhost because
          # we will use 'kubectl port-forward' to access the backend API.
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "http://localhost:8000" 
            - name: NEXT_PUBLIC_AUTH_URL
              value: "http://localhost:5000"

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer # Allows external access via minikube tunnel
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000